.navbar{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-size: 1.25em;
    color: #000;
    background-color: #ecece3;
    padding-top: 1em !important;
}

.dropdown-menu{
    background-color: #fff;
    min-width: 8em;
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 0.19em;
}

.footer_links{
    background-color: #ecece3;
    font-family: 'Zilla Slab';
    font-style: normal;
}